* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*logo y listas*/

.logo {
    width: 210px;
    margin: 5px 650px;
}

header {
    color: #f4edf3;
    background-color: #f4a261;
    padding: 16px;

}

header nav ul {
    display: flex;
    gap: 200px;
    justify-content: center;
}

ul {
    list-style: none;
}

/*main*/
.boton-wpp {
    background-color: green;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-wpp i {
    font-size: 2rem;
    color: #f4edf3;
}
.carrousel {
    width: 70%;
    margin: 15px 200px;
}

a {
    text-decoration: none;
    color: #f4edf3;
}

.sobreNosotros {
    color: #f4edf3;
    background-color: #f4a261;
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.sobreNosotros h2 {
    margin: 16px;
}

.sobreNosotros p {
    width: 50%;
    margin: 0px 100px;
}


.nprod {
    color: #f4edf3;
    background-color: #f4a261;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 32px;
    padding: 16px;
    margin: 20px 0px;
}

.nprod h2 {
    margin: 16px;
}

.nprod p {
    width: 50%;
    margin: 0px 100px;
}

.ban img {
    background-color: #f4edf3;
    width: 60%;
}

.ban div a {
    font-size: medium;
    color: #f4edf3;
    background-color: #f4a261;
    padding: 8px 10px;
    border-radius: 16px;
    margin: 0px 3px;
}

.ban div {
    display: flex;
    justify-content: center;
    align-items: end;
}

/*pagina de productos*/
.prod img {
    width: 300px;
    margin: 50px 35px;
}

.imgVid img {
    width: 300px;
    margin: 20px 130px;
}

.imgVid video {
    height: 300px;
    width: 300px;
    margin: 20px 30px;
}

.mod {
    margin: 25px;
    color: #f4a261;
    font-size: 30px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.productos div img {
    width: 300px;
}

.productos div {
    margin: 32px;
}

/*footer*/
footer {
    background-color: #f4a261;
    margin: 100px 0px 0px;
    height: 20vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    color: #f4edf3;
}

.medios-de-pago h2 {
    margin: 8px 120px;
}

.medios-de-pago ul {
    display: flex;
}

.medios-de-pago ul li {
    margin: 0px 4px;
}

.redes ul {
    display: flex;
    justify-content: space-between;
}

.redes h2 {
    margin: 8px 0px;
}

.medios-de-pago ul li i {
    font-size: 2rem;
}

.redes ul li i {
    font-size: 2rem;
}
button {
    border-radius: 16px;

}

/*formulario*/

.titulo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    color: #f4a261;
}
.formulario div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 5rem;
    margin: 8px;
}
.formulario {
border-style:solid;
border-color: #f4a261;
}


